
	<div id="myCarousel" class="carousel slide"><!-- class of slide for animation -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->
	      <img src="http://lorempixel.com/1440/480/nature/1/Dummy-Text/" alt="" />
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="http://lorempixel.com/1440/480/nature/2/Dummy-Text/" alt="" alt="" />
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="http://lorempixel.com/1440/480/nature/3/Dummy-Text/" alt="" />
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="http://lorempixel.com/1440/480/nature/5/Dummy-Text/" alt="" />
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <p><span class="glyphicon glyphicon-chevron-right"></span></p>
	    <span class="sr-only">Next</span>
	  </a>
	   
	</div><!-- /.carousel -->
  
     <div id = "free">
    <section class="success" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2>About</h2>
                      <hr class="star-light">
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <p>Baywalk Goa,an exotic seaside villa is located barely 200 metres from the Morjim beach known for the fabled Ridley Turtles nesting and the Golden sands.
                     <br/><br/>One can either walk leisurely along the windy Chapora River(20 mins) or stroll directly through the village to get to the beach from Baywalk goa.
                      </br><br/>Baywalk goa offers breath taking views   and is just a few minutes away from the beach. The nearby Morjim village with its quaint and rustic homes and an atmosphere of yesteryears is idyllic setting for the perfect getaway.
                      </br><br/>There are also plenty of pubs and restaurants situated within easy reach of baywalk goa.</p>
                  </br><br/>Baywalk goa is located in a very silent setting and is an ideal place to spend quality personal time.</p>
                                    </br><br/>Baywalk goa is located in a very silent setting and is an ideal place to spend quality personal time.</p>

                  </div>
                  
                  
              </div>
          </div>
      </section>
      

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    
    </div>


    <div id="style" >
       <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-wifi fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>24/7 Free Wifi</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-key fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Locker in every room</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-motorcycle fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Transportation</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-child fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Daily Yoga Classes</strong>
                                </h4>
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>


            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-film fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>24/7 Satellite TV</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-dribbble fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Table Tennis!</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-coffee fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Cafeteria</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bed fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Super comfortable beds</strong>
                                </h4>
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>

            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-lightbulb-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>24/7 Power Back-Up</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Obviously Airconditioned</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-medkit fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Doctor on call</strong>
                                </h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-car fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Car Park</strong>
                                </h4>
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>

        <!-- /.container -->
    </section>

    

    <!-- Portfolio -->
    

    <!-- Call to Action -->
    
    
    <!-- Map -->

    </div>

    <div id="free">
        <!-- Contact -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact Us For Reservations</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Message</label>
                                    <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

   

    <div id="style">
        <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>

      <footer>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-6  text-center">
                    <h4><strong>Baywalk Goa</strong>
                    </h4>
                    <p>1342/A, Tembwada <br>Morjim Beach, Pernem <br>North Goa,Goa-403512 <br>India</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> 9868165886 </li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@baywalkgoa.com">baywalkgoa@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; www.baywalkgoa.com 2015</p>
                </div>
                <div class="col-lg-6 text-center">
                     <div class="boxed center">
            <strong><h1 class="thetitle centre">Our Location</h1></strong>
          </div>
          <p style="border-style:solid; border-color:#FF0000;" class="redline"></p>
           <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?q=
                Morjim&output=embed"></iframe>
          

        </div>
                </div>

            </div>
        </div>
      </footer>
    </div>





    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
